/* RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-primary-900: hsl(219, 29%, 14%);
  --clr-primary-400: hsl(263, 55%, 52%);
  --clr-primary-300: hsl(217, 19%, 35%);
  --clr-primary-100: hsl(0, 0%, 100%);

  --clr-neutral-300: hsl(0, 0%, 81%);
  --clr-neutral-200: hsl(210, 46%, 95%);

  --ff-main: "Barlow Semi Condensed", serif;

  --fw-regular: 500;
  --fw-bold: 600;
}

html {
  font-family: var(--ff-main);
  font-weight: var(--fw-regular);
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-size: 0.8125rem;
  background-color: var(--clr-neutral-200);
}

.grid-group {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five";

  gap: 2rem;
  width: min(85%, 70rem);
  margin-inline: auto;
  margin-block: 4rem;
}

@media screen and (min-width: 600px) {
  .grid-group {
    grid-template-areas:
      "one one"
      "two three"
      "four four"
      "five five";
  }
}

@media screen and (min-width: 800px) {
  .grid-group {
    grid-template-areas:
      "one one two"
      "five five five"
      "three four four";
  }
}

@media screen and (min-width: 1000px) {
  .grid-group {
    grid-template-areas:
      "one one two five"
      "three four four five";
  }
}

.bg-primary-900 {
  background-color: var(--clr-primary-900);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-primary-300 {
  background-color: var(--clr-primary-300);
}

.bg-primary-100 {
  background-color: var(--clr-primary-100);
}

.text-primary-100 {
  color: var(--clr-primary-100);
}

.text-primary-300 {
  color: var(--clr-primary-300);
}

.border-purple {
  border: 2px solid hsl(264, 83%, 70%);
}

.flex {
  display: flex;
  gap: 0.85rem;
  align-items: center;
}

.testimonial {
  border-radius: 8px;
  box-shadow: 2.4rem 3.75rem 3rem -3rem hsl(217, 19%, 35%, 30%);
  padding: 2rem;
}

.testimonial .name {
  font-weight: var(--fw-bold);
  font-size: 0.8125rem;
}

.testimonial .status {
  opacity: 50%;
  font-size: 0.6875rem;
}

.testimonial .profile-picture {
  width: 1.85rem;
  height: 1.85rem;
  border-radius: 50%;
}

p:first-child {
  font-weight: var(--fw-bold);
  font-size: 1.25rem;
  line-height: 1.2;
  margin-block: 0.85rem;
}

p:last-child {
  opacity: 0.75;
}

.quote-bg {
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 20%;
}

.testimonial:nth-child(1) {
  grid-area: one;
}

.testimonial:nth-child(2) {
  grid-area: two;
}

.testimonial:nth-child(3) {
  grid-area: three;
}

.testimonial:nth-child(4) {
  grid-area: four;
}

.testimonial:nth-child(5) {
  grid-area: five;
}
